# Python virtual environment
venv/
env/
ENV/
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db



# Logs
*.log

# CSV data files (optional, uncomment if you don't want to include data files)
# *.csv 